Scenario_2 when doc signed.blueprint.json
{
    "name": "when doc signed",
    "flow": [
        {
            "id": 2,
            "module": "pandadoc:watchDocuments",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2652344
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Docment completed "
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:pandadoc",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4414963
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.status}}",
                            "b": "document.completed",
                            "o": "text:equal:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "from": "share",
                "filter": [
                    [
                        {
                            "a": "BM",
                            "b": "{{2.id}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "SEND OFFERS",
                "sortOrder": "asc",
                "spreadsheetId": "1VJnq3mvsTLiG8uyLbtPnSi5QJNW2oJPqI9PFDwr0sak",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "SEND OFFERS"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection ASSETOPS (xavieramirez@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Contract (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Offer Sent (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "ARV (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Wholesale Fee (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Institutional MAO (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Agent Friendly MAO (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Stretch MAO (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Psychological Offer (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Accept % (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Deal Signal (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "First Name (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Last Name (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Phone (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Email (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Full Property Address (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "On or Off Market? (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Asset Class (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Occupancy (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Date Purchased? (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Purchase Price? (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Amount Owed (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Unpaid Solar Panels? (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "Repairs Needed? (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "Asking (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "FLEXIBLE? (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "Any Additional Notes, Comments, Questions (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "Market Value (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "Year Built (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "Square Feet (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "Bedrooms (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "Bathrooms (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "Currently Being Rehabbed? (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "Rehab Level (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "Discount (off Asking Price) (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "Leaseback? (AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "Property Pics (AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "Property Type (CRELoans) (AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "No of units (AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "Current Occupancy (%) (AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "NOI (AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "Cap Rate (%) (AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "Send Link? (AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "Received Link? (AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "Deal Score (AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "Wholesale ARV (AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "Initial Offered (AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "JV Full Name (AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "JV Email (AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "Timezone (AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "Submission Date (AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "URL (AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "Drivers License or Govt I.D (AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "Mortgage Y/N (BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "Property Rented Y/N (BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "Property inherited Y/N (BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "Divorced Y/N (BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "Widowed? Y/N (BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "Mobile home Y/N (BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "Active in Foreclosure (Mortgage or Taxes) Y/N (BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "Active in Bankruptcy Y/N (BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "Individual or a Trust/Estate? (BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "Legal Description (BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "Closing Office (BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "Additional Information (BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "Doc id (BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "highlevel:listOpportunities",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4201926
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{5.`__ROW_NUMBER__`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "pipeline": "djYsDyKWr26DlRNRErQ2"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "limit": {
                            "empty": true
                        },
                        "pipeline": {
                            "mode": "chose",
                            "label": "OFFERS"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "highlevel"
                            },
                            "label": "BANKFLIPPER"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:highlevel,highlevel3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "pipeline",
                        "type": "select",
                        "label": "Pipeline ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "highlevel:updateAnOpportunity",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4201926
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{3.name}}",
                            "b": "{{5.`14`}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "select": "existing",
                "stageId": "df6428e4-1c01-493f-a69a-93dc4ec35546",
                "pipeline": "djYsDyKWr26DlRNRErQ2",
                "opportunity": "{{3.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Use an existing contact"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "contact": {
                            "mode": "chose"
                        },
                        "stageId": {
                            "mode": "chose",
                            "label": "Offer Signed"
                        },
                        "pipeline": {
                            "mode": "chose",
                            "label": "OFFERS"
                        },
                        "assignedTo": {
                            "mode": "chose"
                        },
                        "opportunity": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "highlevel"
                            },
                            "label": "BANKFLIPPER"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:highlevel,highlevel3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "pipeline",
                        "type": "select",
                        "label": "Pipeline ID",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "open",
                                "won",
                                "lost",
                                "abandoned"
                            ]
                        }
                    },
                    {
                        "name": "assignedTo",
                        "type": "select",
                        "label": "Assigned To"
                    },
                    {
                        "name": "monetaryValue",
                        "type": "number",
                        "label": "Monetary Value"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select a Method (Deprecated)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "existing",
                                "create"
                            ]
                        }
                    },
                    {
                        "name": "source",
                        "type": "text",
                        "label": "Source (Deprecated)"
                    },
                    {
                        "name": "tags",
                        "type": "select",
                        "label": "Tags (Deprecated)",
                        "multiple": true
                    },
                    {
                        "name": "opportunity",
                        "type": "select",
                        "label": "Opportunity ID",
                        "required": true
                    },
                    {
                        "name": "stageId",
                        "type": "select",
                        "label": "Stage ID",
                        "validate": {
                            "enum": [
                                "bfbebd4b-be86-4e69-8208-f9a8af5e3127",
                                "51acbeb9-cbc6-40c1-bd01-b31c9034e572",
                                "1b5571db-d3f8-4069-9145-5eaf8a468efd",
                                "5b0f1017-7914-4f3b-a089-4c3298804247",
                                "df6428e4-1c01-493f-a69a-93dc4ec35546",
                                "2ef52be6-faca-4cb2-b903-1121b9abae24",
                                "58ccad62-6c51-4c03-a2f4-1b767a121a31",
                                "ede49aa8-b36c-4b69-8077-279aba092911",
                                "7e60a33b-b9d2-4406-aa5e-7a1ac27832d4",
                                "d1a1b88f-a64d-46ec-bbe9-e419784eecc0"
                            ]
                        }
                    },
                    {
                        "name": "contact",
                        "type": "select",
                        "label": "Contact ID (Deprecated)"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}