Scenario 1_MARCH 2026 LEADS  - create Document .blueprint.json
{
    "name": "MARCH 2026 LEADS  >>> create Document ",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2641487,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "MARCH 2026 LEADS webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "pandadoc:createADocuments",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4428500
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.Email}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "{{1.`Full Property Address`}}",
                "send": true,
                "fields": {},
                "tokens": {
                    "OFFERED": "{{1.`Offer Sent`}}",
                    "Client.Email": "{{1.Email}}",
                    "Closing Office": "{{1.`Closing Office`}}",
                    "Legal Description": "{{1.`Legal Description`}}",
                    "AssetOps LLC.Email": "Xavier@AssetOps.us",
                    "Full Property Address": "{{1.`Full Property Address`}}",
                    "Additional Information": "{{1.`Additional Information`}}"
                },
                "message": "Please review this offer - if you agree please sign the agreement",
                "subject": "Cash Offer: {{1.`Full Property Address`}}",
                "template": "ciMEdgdCyGQrG7DsGtYTSA",
                "folder_uuid": null
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "images": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "template": {
                            "mode": "chose",
                            "label": "AssetOps_Standard_Real_Estate_Purchase_Agreement"
                        },
                        "recipients": {
                            "mode": "chose"
                        },
                        "folder_uuid": {
                            "mode": "chose"
                        },
                        "content_placeholders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "ASSETOPS PandaDoc connection (xavier@assetops.us)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Document Name",
                        "required": true
                    },
                    {
                        "name": "template",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "send",
                        "type": "boolean",
                        "label": "Send a document",
                        "required": true
                    },
                    {
                        "name": "folder_uuid",
                        "type": "folder",
                        "label": "Folder"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Tag"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "images",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Image Block Name",
                                "required": true
                            },
                            {
                                "name": "urls",
                                "type": "url",
                                "label": "Image URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Images"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Document Metadata"
                    },
                    {
                        "name": "content_placeholders",
                        "spec": [
                            {
                                "name": "block_id",
                                "type": "select",
                                "label": "Block ID",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "content_library_items",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Content Library Item ID",
                                        "dynamic": true,
                                        "options": {
                                            "store": []
                                        },
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Content Library Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Content Placeholders"
                    },
                    {
                        "name": "tokens",
                        "spec": [
                            {
                                "name": "Client.Email",
                                "type": "email",
                                "label": "Role: Client Email",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "AssetOps LLC.Email",
                                "type": "email",
                                "label": "Role: AssetOps LLC Email",
                                "metadata": {
                                    "role": "AssetOps LLC"
                                }
                            },
                            {
                                "name": "Additional Information",
                                "type": "text",
                                "label": "Token: Additional  Information "
                            },
                            {
                                "name": "Closing Office",
                                "type": "text",
                                "label": "Token: Closing  Office "
                            },
                            {
                                "name": "Full Property Address",
                                "type": "text",
                                "label": "Token: Full  Property  Address "
                            },
                            {
                                "name": "Legal Description",
                                "type": "text",
                                "label": "Token: Legal  Description "
                            },
                            {
                                "name": "OFFERED",
                                "type": "text",
                                "label": "Token: OFFERED"
                            },
                            {
                                "name": "Price",
                                "type": "text",
                                "label": "Token: Price "
                            }
                        ],
                        "type": "collection",
                        "label": "Tokens"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "AssetOps LLC Date"
                            },
                            {
                                "name": "Text",
                                "type": "text",
                                "label": "Client Text"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "recipients",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            },
                            {
                                "name": "first_name",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "last_name",
                                "type": "text",
                                "label": "Last name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "required": true
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "highlevel:listOpportunities",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4201926
            },
            "mapper": {
                "pipeline": "djYsDyKWr26DlRNRErQ2"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "limit": {
                            "empty": true
                        },
                        "pipeline": {
                            "mode": "chose",
                            "label": "OFFERS"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "highlevel"
                            },
                            "label": "BANKFLIPPER"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:highlevel,highlevel3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "pipeline",
                        "type": "select",
                        "label": "Pipeline ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "highlevel:updateAnOpportunity",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4201926
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{30.name}}",
                            "b": "{{1.`Full Property Address`}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "select": "existing",
                "stageId": "5b0f1017-7914-4f3b-a089-4c3298804247",
                "pipeline": "djYsDyKWr26DlRNRErQ2",
                "opportunity": "{{30.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Use an existing contact"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "contact": {
                            "mode": "chose"
                        },
                        "stageId": {
                            "mode": "chose",
                            "label": "Offer Sent"
                        },
                        "pipeline": {
                            "mode": "chose",
                            "label": "OFFERS"
                        },
                        "assignedTo": {
                            "mode": "chose"
                        },
                        "opportunity": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "highlevel"
                            },
                            "label": "BANKFLIPPER"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:highlevel,highlevel3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "pipeline",
                        "type": "select",
                        "label": "Pipeline ID",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "open",
                                "won",
                                "lost",
                                "abandoned"
                            ]
                        }
                    },
                    {
                        "name": "assignedTo",
                        "type": "select",
                        "label": "Assigned To"
                    },
                    {
                        "name": "monetaryValue",
                        "type": "number",
                        "label": "Monetary Value"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select a Method (Deprecated)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "existing",
                                "create"
                            ]
                        }
                    },
                    {
                        "name": "source",
                        "type": "text",
                        "label": "Source (Deprecated)"
                    },
                    {
                        "name": "tags",
                        "type": "select",
                        "label": "Tags (Deprecated)",
                        "multiple": true
                    },
                    {
                        "name": "opportunity",
                        "type": "select",
                        "label": "Opportunity ID",
                        "required": true
                    },
                    {
                        "name": "stageId",
                        "type": "select",
                        "label": "Stage ID",
                        "validate": {
                            "enum": [
                                "bfbebd4b-be86-4e69-8208-f9a8af5e3127",
                                "51acbeb9-cbc6-40c1-bd01-b31c9034e572",
                                "1b5571db-d3f8-4069-9145-5eaf8a468efd",
                                "5b0f1017-7914-4f3b-a089-4c3298804247",
                                "df6428e4-1c01-493f-a69a-93dc4ec35546",
                                "2ef52be6-faca-4cb2-b903-1121b9abae24",
                                "58ccad62-6c51-4c03-a2f4-1b767a121a31",
                                "ede49aa8-b36c-4b69-8077-279aba092911",
                                "7e60a33b-b9d2-4406-aa5e-7a1ac27832d4",
                                "d1a1b88f-a64d-46ec-bbe9-e419784eecc0"
                            ]
                        }
                    },
                    {
                        "name": "contact",
                        "type": "select",
                        "label": "Contact ID (Deprecated)"
                    }
                ]
            }
        },
        {
            "id": 29,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4414963
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{31.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "mode": "fromAll",
                "valueInputOption": "USER_ENTERED",
                "spreadsheetId": "1VJnq3mvsTLiG8uyLbtPnSi5QJNW2oJPqI9PFDwr0sak",
                "sheetId": "SEND OFFERS",
                "rowNumber": "{{1.row_number}}",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                    "64": "{{2.id}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection ASSETOPS (xavieramirez@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "SEND OFFERS"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Contract (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Offer Sent (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "ARV (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Wholesale Fee (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Institutional MAO (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Agent Friendly MAO (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Stretch MAO (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Psychological Offer (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Accept % (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Deal Signal (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "First Name (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Last Name (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Phone (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Email (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Full Property Address (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "On or Off Market? (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Asset Class (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "Occupancy (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "Date Purchased? (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "Purchase Price? (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "Amount Owed (U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "Unpaid Solar Panels? (V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "Repairs Needed? (W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "Asking (X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "FLEXIBLE? (Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Any Additional Notes, Comments, Questions (Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "Market Value (AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "Year Built (AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "Square Feet (AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "Bedrooms (AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "Bathrooms (AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "Currently Being Rehabbed? (AF)"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "Rehab Level (AG)"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "Discount (off Asking Price) (AH)"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "Leaseback? (AI)"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "Property Pics (AJ)"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "Property Type (CRELoans) (AK)"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "No of units (AL)"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "Current Occupancy (%) (AM)"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "NOI (AN)"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "Cap Rate (%) (AO)"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "Send Link? (AP)"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "Received Link? (AQ)"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "Deal Score (AR)"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "Wholesale ARV (AS)"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "Initial Offered (AT)"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "JV Full Name (AU)"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "JV Email (AV)"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "Timezone (AW)"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "Submission Date (AX)"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "URL (AY)"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "Drivers License or Govt I.D (AZ)"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "Mortgage Y/N (BA)"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "Property Rented Y/N (BB)"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "Property inherited Y/N (BC)"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "Divorced Y/N (BD)"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "Widowed? Y/N (BE)"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "Mobile home Y/N (BF)"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "Active in Foreclosure (Mortgage or Taxes) Y/N (BG)"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "Active in Bankruptcy Y/N (BH)"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "Individual or a Trust/Estate? (BI)"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "Legal Description (BJ)"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "Closing Office (BK)"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "Additional Information (BL)"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "Doc id (BM)"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "(BN)"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "(BO)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Contract",
                                                "Offer Sent",
                                                "ARV",
                                                "Wholesale Fee",
                                                "Institutional MAO",
                                                "Agent Friendly MAO",
                                                "Stretch MAO",
                                                "Psychological Offer",
                                                "Accept %",
                                                "Deal Signal",
                                                "First Name",
                                                "Last Name",
                                                "Phone",
                                                "Email",
                                                "Full Property Address",
                                                "On or Off Market?",
                                                "Asset Class",
                                                "Occupancy",
                                                "Date Purchased?",
                                                "Purchase Price?",
                                                "Amount Owed",
                                                "Unpaid Solar Panels?",
                                                "Repairs Needed?",
                                                "Asking",
                                                "FLEXIBLE?",
                                                "Any Additional Notes, Comments, Questions",
                                                "Market Value",
                                                "Year Built",
                                                "Square Feet",
                                                "Bedrooms",
                                                "Bathrooms",
                                                "Currently Being Rehabbed?",
                                                "Rehab Level",
                                                "Discount (off Asking Price)",
                                                "Leaseback?",
                                                "Property Pics",
                                                "Property Type (CRELoans)",
                                                "No of units",
                                                "Current Occupancy (%)",
                                                "NOI",
                                                "Cap Rate (%)",
                                                "Send Link?",
                                                "Received Link?",
                                                "Deal Score",
                                                "Wholesale ARV",
                                                "Initial Offered",
                                                "JV Full Name",
                                                "JV Email",
                                                "Timezone",
                                                "Submission Date",
                                                "URL",
                                                "Drivers License or Govt I.D",
                                                "Mortgage Y/N",
                                                "Property Rented Y/N",
                                                "Property inherited Y/N",
                                                "Divorced Y/N",
                                                "Widowed? Y/N",
                                                "Mobile home Y/N",
                                                "Active in Foreclosure (Mortgage or Taxes) Y/N",
                                                "Active in Bankruptcy Y/N",
                                                "Individual or a Trust/Estate?",
                                                "Legal Description",
                                                "Closing Office",
                                                "Additional Information",
                                                "Doc id"
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "mode": "edit",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Contract",
                                    "Offer Sent",
                                    "ARV",
                                    "Wholesale Fee",
                                    "Institutional MAO",
                                    "Agent Friendly MAO",
                                    "Stretch MAO",
                                    "Psychological Offer",
                                    "Accept %",
                                    "Deal Signal",
                                    "First Name",
                                    "Last Name",
                                    "Phone",
                                    "Email",
                                    "Full Property Address",
                                    "On or Off Market?",
                                    "Asset Class",
                                    "Occupancy",
                                    "Date Purchased?",
                                    "Purchase Price?",
                                    "Amount Owed",
                                    "Unpaid Solar Panels?",
                                    "Repairs Needed?",
                                    "Asking",
                                    "FLEXIBLE?",
                                    "Any Additional Notes, Comments, Questions",
                                    "Market Value",
                                    "Year Built",
                                    "Square Feet",
                                    "Bedrooms",
                                    "Bathrooms",
                                    "Currently Being Rehabbed?",
                                    "Rehab Level",
                                    "Discount (off Asking Price)",
                                    "Leaseback?",
                                    "Property Pics",
                                    "Property Type (CRELoans)",
                                    "No of units",
                                    "Current Occupancy (%)",
                                    "NOI",
                                    "Cap Rate (%)",
                                    "Send Link?",
                                    "Received Link?",
                                    "Deal Score",
                                    "Wholesale ARV",
                                    "Initial Offered",
                                    "JV Full Name",
                                    "JV Email",
                                    "Timezone",
                                    "Submission Date",
                                    "URL",
                                    "Drivers License or Govt I.D",
                                    "Mortgage Y/N",
                                    "Property Rented Y/N",
                                    "Property inherited Y/N",
                                    "Divorced Y/N",
                                    "Widowed? Y/N",
                                    "Mobile home Y/N",
                                    "Active in Foreclosure (Mortgage or Taxes) Y/N",
                                    "Active in Bankruptcy Y/N",
                                    "Individual or a Trust/Estate?",
                                    "Legal Description",
                                    "Closing Office",
                                    "Additional Information",
                                    "Doc id"
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Contract (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Offer Sent (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "ARV (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Wholesale Fee (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Institutional MAO (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Agent Friendly MAO (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Stretch MAO (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Psychological Offer (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Accept % (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Deal Signal (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "First Name (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Last Name (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Phone (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Email (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Full Property Address (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "On or Off Market? (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Asset Class (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "Occupancy (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "Date Purchased? (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "Purchase Price? (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "Amount Owed (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "Unpaid Solar Panels? (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "Repairs Needed? (W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "Asking (X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "FLEXIBLE? (Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Any Additional Notes, Comments, Questions (Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "Market Value (AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "Year Built (AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "Square Feet (AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "Bedrooms (AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "Bathrooms (AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "Currently Being Rehabbed? (AF)"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "Rehab Level (AG)"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "Discount (off Asking Price) (AH)"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "Leaseback? (AI)"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "Property Pics (AJ)"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "Property Type (CRELoans) (AK)"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "No of units (AL)"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "Current Occupancy (%) (AM)"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "NOI (AN)"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "Cap Rate (%) (AO)"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "Send Link? (AP)"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "Received Link? (AQ)"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "Deal Score (AR)"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "Wholesale ARV (AS)"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "Initial Offered (AT)"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "JV Full Name (AU)"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "JV Email (AV)"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "Timezone (AW)"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "Submission Date (AX)"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "URL (AY)"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "Drivers License or Govt I.D (AZ)"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "Mortgage Y/N (BA)"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "Property Rented Y/N (BB)"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "Property inherited Y/N (BC)"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "Divorced Y/N (BD)"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "Widowed? Y/N (BE)"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "Mobile home Y/N (BF)"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "Active in Foreclosure (Mortgage or Taxes) Y/N (BG)"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "Active in Bankruptcy Y/N (BH)"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "Individual or a Trust/Estate? (BI)"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "Legal Description (BJ)"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "Closing Office (BK)"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "Additional Information (BL)"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "Doc id (BM)"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "(BN)"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "(BO)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}